<h1>単語一覧</h1>

<ul>
  <% @words.each do |word| %>
    <li><%= link_to word.id, word %> : <%= word.content %> &gt; <%= word.description %></li>
  <% end %>
</ul>

<%= link_to '新規単語の投稿', new_word_path %>
